# Copier ce fichier en .env et remplir les valeurs

FLASK_ENV=development
SECRET_KEY=change_this_secret_key_123
JWT_SECRET_KEY=change_this_jwt_secret_456

# PostgreSQL
DATABASE_URL=postgresql://postgres:motdepasse@localhost:5432/ev_charging_db

# Socket.IO
SOCKETIO_ASYNC_MODE=eventlet
